<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<title>Simple Map</title>
    	<meta name="viewport" content="initial-scale=1.0">
    	<meta charset="utf-8">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Beacon Bits</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   
   <div> 
		

   </bel :serial %><br>
    <%= f.text_field :serial %>
  </p>

  <p>
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </p>

  <p>
    <%= f.label :mac %><br>
    <%= f.text_field :mac %>
  </p>

  <p>
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </p>

  <p>
    <%= f.submit %>
  </p>div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZ_mEUWjFjtN2vOzLEXjiX5JH1TTZOdoQ&callback=initMap"async defer></script> 

   <script>

		

    </script>
    
</body>
